body{
    margin:0;
    font-family: Arial, Helvetica, sans-serif;
}

nav{
    background-color: #666666;

}

.nav-link{
    text-decoration: none;
    list-style-type:none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #666;
    position: fixed;
    top:0;
    width: 100%;

}

.nav-link li{
    float: left;
    border-right: 1px solid #bbb;

}

.nav-link li a{
    display: block;
    text-decoration: none;
    padding: 14px 16px;
    text-align: center;
    color:white;
    

}

li a:hover{
    background-color: #bbb;

}
li a:active{
    background-color: #554040;
}



/* new navbar */

.navbar{

  background-color: black;
}

.navlinks{

    text-transform: uppercase;
    list-style-type: none;
    background-color: black;
    color:white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 100%;
   
    padding-left:0;
    overflow: hidden;
    
}

.navlinks li{
    float: left;
    
    display: block;
    list-style-type: none;
    padding: 14px 16px;
}




